<div id="zibody" >
<%
for (var i in ccompany) {
if(ccompany[i].txtCompanyNo==menu_path){
	var name1 = ccompany[i].txtCompanyName;
	var img1 = ccompany[i].rtfCompanyImg;
	var tmp = img1.split("@");
	var str1 = ccompany[i].txtCompanyAbstract;
var img1_1 = ccompany[i].rtfImg_1;
var img1_2 = ccompany[i].rtfImg_2;
var img1_3 = ccompany[i].rtfImg_3;
var tmp1 = img1_1.split("@");
var tmp2 = img1_2.split("@");
var tmp3 = img1_3.split("@");
%>
<img id="destion" src="http://www.youlunshidai.com/databaseimages/<%=tmp[2]%>.jpg" alt="" />
<div style="margin:0 auto;width:864px;">
<br/><br/>
<table width="100%" border="0">
  <tr>
    <td style="vertical-align:top;padding-left: 10px;line-height:150%">
	<div class="myh1l"><%= name1 %>风情</div>  <br/>
	<p class="myp1" style="padding-left: 0px;text-indent: 2em;text-align: justify;"><%= str1 %></p><br/>
    <div class="myh1ju">官方网站:&nbsp;&nbsp;<span class="port" style="cursor:pointer;" onclick="window.open('http://<%=ccompany[i].txtCompanyWebSite%>');"><%=ccompany[i].txtCompanyWebSite%></span><br/>
	</td>
    <td width="250px" style="vertical-align:top;text-align:center;line-height:150%">

	<span class="myh1">关注我们的微信公众号:</span><span class="myh1blue">上海邮轮中心</span><br/>
	<img src="../src/image/wechat.jpg" width="128px" height="128px" /><br/>
	</td>
  </tr>
</table>
    <br/><br/>
    <div style="width: 100%;text-align: center"><span class="myh1" style="font-size: 15px;">让</span><span style="font-size: 15px;" class="myh1b"><%=name1%></span><span style="font-size: 15px;" class="myh1">带您去度假！</span></div><br/>
    <div style="background-color: #FFFFFF;">
    <%
    var mlist = "";
    for(var j in lines){
    if(lines[j].txtCompanyNo == ccompany[i].txtCompanyNo){
        mlist = mlist + ";" + lines[j].txtRoutingArea;
    }
    }
        var s = 0;
    for(var k in med){
        if(s<4){
        if(mlist.indexOf(med[k].txtCruiseArea)>0){
        var imgc = med[k].rtfImg;
        var tmpc = imgc.split("@");
        var imgc1 = tmpc[0]+".jpg";
    %>
        <div style="float: left;width: 215px">
            <a href="loading?page=destination/<%=med[k].txtCruiseAreaNo%>"><img style="padding-left: 10px;" class="img_4" src="http://www.youlunshidai.com/databaseimages/<%=imgc1%>" width="200px"/></a><br/>
            <span style="padding-left: 10px;" class="myh1"><%=med[k].txtCruiseAreaEn%></span><br/>
            <span style="padding-left: 10px;" class="myh1"><%=med[k].txtCruiseArea%></span><br/>
            <br/>
        </div>
    <%
        s = s + 1;
        }
        }
    }
    %>
        <div style="clear:both;"></div>
    </div>
<br/><br/>
    
<span class="myh1">邮轮阵容</span><a name="top1" id="top1"></a>
    <br/>
    <div id="shipFour">
        <%
        var k = 0;
        for (var j in cship) {
        if(cship[j].txtCompanyNo == ccompany[i].txtCompanyNo){
        if(k<4){
        k = k + 1;
        var imgc = cship[j].rtfShipImg;
        var imgc1 = imgc+"_sm.jpg";
        %>
        <div style="float: left;width: 215px;background-color: #FFFFFF">
            <a href="loading?page=/curisecompanyship/<%=ccompany[i].txtCompanyNo%>@<%=cship[j].txtShipNo%>"><img style="padding-left: 8px;" class="img_4" src="http://www.youlunshidai.com/dataimages/<%=imgc1%>" width="200px"/></a><br/>
            <span style="padding-left: 8px;" class="myh1"><%=cship[j].txtShipEnName%></span><br/>
            <span style="padding-left: 8px;" class="myh1"><%=cship[j].txtShipName%></span><br/>
            <br/>
        </div>
        <%
        }
        }
        }
        %>
        <div style="clear:both;"></div>
        <div class="myh1" style="color:#43B0D3;width: 100%;text-align: right;cursor: pointer" onclick="$('#shipFour').css('display','none');$('#shipAll').css('display','inline');" >查看更多船只</div>
    </div>
    <div id="shipAll" style="display: none">
        <%
        for (var j in cship) {
        if(cship[j].txtCompanyNo == ccompany[i].txtCompanyNo){
        if(j<100){
        var imgc = cship[j].rtfShipImg;
        var imgc1 = imgc+"_sm.jpg";
        %>
        <div style="float: left;width: 215px;background-color: #FFFFFF">
            <a href="loading?page=/curisecompanyship/<%=ccompany[i].txtCompanyNo%>@<%=cship[j].txtShipNo%>"><img style="padding-left: 8px;" class="img_4" src="http://www.youlunshidai.com/dataimages/<%=imgc1%>" width="200px"/></a><br/>
            <span style="padding-left: 8px;" class="myh1"><%=cship[j].txtShipEnName%></span><br/>
            <span style="padding-left: 8px;" class="myh1"><%=cship[j].txtShipName%></span><br/>
            <br/>
        </div>
        <%
        }
        }
        }
        %>
        <div style="clear:both;"></div>
        <div class="myh1" style="color:#43B0D3;width: 100%;text-align: right;cursor: pointer" onclick="$('#shipFour').css('display','inline');$('#shipAll').css('display','none');" ><a style="color:#43B0D3;"  href="#top1" target="_self">收起更多船只</a></div>
    </div>
    <br/><br/>
<br/><br/>
<div class="myh1">相关内容</div>	
<br/>
<table width="100%" border="0">
  <tr>
     <td width="220px"><a href="loading?page=/curisecompanysp/<%=ccompany[i].txtCompanyNo%>@1"><img class="img_4" src="http://www.youlunshidai.com/databaseimages/<%=tmp1[0]%>.jpg" width="200px" /></a>
	<br/><div class="myh1sm"><%=ccompany[i].txtCompanyFeature_1%></div>
	<div class="myp1sm"><%=ccompany[i].txtFeature_1.substring(0,40)%>...</div>
	<div class="myh1b" onclick="window.location='loading?page=/curisecompanysp/<%=ccompany[i].txtCompanyNo%>@1';">查看更多 >>></div>
	</td>
    <td width="220px"><a href="loading?page=/curisecompanysp/<%=ccompany[i].txtCompanyNo%>@2"><img class="img_4" src="http://www.youlunshidai.com/databaseimages/<%=tmp2[0]%>.jpg" width="200px" /></a>
	<br/><div class="myh1sm"><%=ccompany[i].txtCompanyFeature_2%></div>
	<div class="myp1sm"><%=ccompany[i].txtFeature_2.substring(0,40)%>...</div>
	<div class="myh1b" onclick="window.location='loading?page=/curisecompanysp/<%=ccompany[i].txtCompanyNo%>@2';">查看更多 >>></div>
	</td>
    <td width="220px"><a href="loading?page=/curisecompanysp/<%=ccompany[i].txtCompanyNo%>@3"><img class="img_4" src="http://www.youlunshidai.com/databaseimages/<%=tmp3[0]%>.jpg" width="200px" /></a>
	<br/><div class="myh1sm"><%=ccompany[i].txtCompanyFeature_3%></div>
	<div class="myp1sm"><%=ccompany[i].txtFeature_3.substring(0,40)%>...</div>
	<div class="myh1b" onclick="window.location='loading?page=/curisecompanysp/<%=ccompany[i].txtCompanyNo%>@3';">查看更多 >>></div>
	</td>
     <td style="width: 250px;">&nbsp;</td>
  </tr>
</table>
<br/>
<div>
    <%
    for (var j in r1) {
            if(r1[j].txtCategory3.indexOf(name1)!= -1){
        var imgc = r1[j].rtfImg;
        if(r1[j].txtCategory1=="邮轮视频"){
            imgc = "http://www.youlunshidai.com/video/"+r1[j].rtfImg+".jpg";

        }else{

        }
    %>
    <div style="float: left;width: 215px;height: 300px;">
        <a href="loading?page=/sharemid/<%=r1[j].id%>"><img src="<%=imgc%>" width="200px" height="124"/></a><br/><br/>
        <div style="overflow:hidden;height: 35px;width:200px" class="myh1"><%=r1[j].txtTitle%></div>
        <div id="yj<%=menu_path%><%=j%>" class="myp1sm" style="overflow:hidden;height: 50px;;width:200px"><%=r1[j].txtAbbr%></div>
        <div class="myh1b" onclick="window.location='loading?page=/sharemid/<%=r1[j].id%>';">查看详情 >>></div>
        <br/><br/>
    </div>
    <%
    }
    }
    %>
    <div style="clear:both;"></div>
</div>
<br/>
<%}}%>
</div>
</div>
<form style="display: none" method="post">
    <input type="text" id="mdd" name = "mdd" />
</form>