<div id="zibody">
<%
    for(var i in share){
        if(share[i].txtNo == menu_path){
            var i1 = share[i].txtName;

            var img1 = share[i].rtfImg;
            var tmp = img1.split("@");

            var str1 = share[i].txtRemark;
        }
    }
%>
<img id="destion" src="http://www.youlunshidai.com/databaseimages/<%=tmp[2]%>.jpg" alt="" />
<div style="margin:0 auto;width:864px;">
<br/><br/>
    <table width="100%" border="0">
        <tr>
            <td style="vertical-align:top;padding-left: 10px;line-height:150%">
                <div class="myh1l"><%= i1 %></div>  <br/>
                <div class="myp1" style="padding-left: 0px;text-indent: 2em;text-align: justify;"><%= str1 %></div><br/>
            </td>
            <td width="250px" style="text-align:center;line-height:150%;vertical-align:top">

                <span class="myh1">关注我们的微信公众号:</span><span class="myh1blue">上海邮轮中心</span><br/>
                <img src="../src/image/wechat.jpg" width="128px" height="128px" /><br/>
            </td>
        </tr>
    </table>
    <br/><br/>
    <div>
        <%
        for (var j in r1) {
        if(r1[j].txtCategory1 == i1){
        var imgc = r1[j].rtfImg;
            if(r1[j].txtCategory1=="邮轮视频"){
                imgc = "http://www.youlunshidai.com/video/"+r1[j].rtfImg+".jpg";

            }else{

            }
        %>
        <div style="float: left;width: 215px;height: 300px;">
            <a onclick="urlTo3('/c_share_sec?pid*<%=r1[j].id%>');" href="#"><img  class="img_4" src="<%=imgc%>" width="200px" height="124"/></a><br/><br/>
            <div style="overflow:hidden;height: 35px;width:200px" class="myh1"><%=r1[j].txtTitle%></div>
            <div id="yj<%=menu_path%><%=j%>" class="myp1sm" style="overflow:hidden;height: 50px;;width:200px"><%=r1[j].txtAbbr%></div>
            <div class="myh1b" onclick="urlTo3('/c_share_sec?pid*<%=r1[j].id%>');">查看详情 >>></div>
            <br/><br/>
        </div>
        <%
        }
        }
        %>
        <div style="clear:both;"></div>
    </div>
    <br/><br/>
</div>
</div>
