<%var arr = result.split("@");%>
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>上海港邮轮登船凭证管理系统</title>

		<link rel="stylesheet" href="framework/amazeui/amazeui.min.css" />

		<link rel="stylesheet" href="framework/css/admin.css">
		<script src="framework/JsBarcode.all.js"></script>
		<script type="text/javascript">
			function doPrint() {      
			        bdhtml=window.document.body.innerHTML;      
			        sprnstr="<!--startprint-->";      
			        eprnstr="<!--endprint-->";      
			        prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17);      
			        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));      
			        window.document.body.innerHTML=prnhtml;   
			        window.print();      
			}      
		</script>
	</head>

	<body>
		<!--startprint-->
		<img src="framework/costa.png" style="width:720px" >
		<!--endprint-->  
		<!--数据区域-->
		<div id="ticket_date" >
			<img src="framework/Coata.png" style="position:fixed;top:20px;left:60px;width:170px">
			<div style="font-weight:bolder;position:fixed;top:171px;left:120px;font-size: 20px"></div>
			<div style="font-weight:bolder;position:fixed;top:158px;left:550px;font-size: 18px;"></div>
			<div>
				<img id="barcode1" style="position:fixed;top:183px;left:415px" />
				<script>JsBarcode("#barcode1", "",{
					format: "CODE128",
					width:2,//设置条之间的宽度
		  			height:50,//高度
		  			displayValue:false,
				});</script>
			</div>
			<div style="font-weight:bolder;position:fixed;top:305px;left:120px;font-size: 14px;line-height: 1"><%=arr[10]%></div>
			<div style="font-weight:bolder;position:fixed;top:340px;left:120px;font-size: 18px;line-height: 1"><%=arr[9]%></div>
			<div style="font-weight:bolder;position:fixed;top:405px;left:120px;font-size: 18px;"></div>
			<div style="font-weight:bolder;position:fixed;top:450px;left:120px;font-size: 18px;"><%=arr[8]%></div>
			<div style="font-weight:bolder;position:fixed;top:495px;left:120px;font-size: 18px;">吴淞口国际邮轮港</div>
			<div style="font-weight:bolder;position:fixed;top:515px;left:120px;font-size: 14px;">Wusongkou ICT</div>
			<div style="font-weight:bolder;position:fixed;top:545px;left:120px;font-size: 14px;"></div>

			<div style="font-weight:bolder;position:fixed;top:305px;left:460px;font-size: 18px"></div>
			<div style="font-weight:bolder;position:fixed;top:340px;left:460px;font-size: 28px"></div>
			<div style="font-weight:bolder;position:fixed;top:390px;left:460px;font-size: 28px"><%=arr[1]%></div>
			<div style="font-weight:bolder;position:fixed;top:442px;left:642px;font-size: 28px;color:#fff"></div>

			<div style="font-weight:bolder;position:fixed;top:710px;left:120px;font-size: 18px;line-height: 1"><%=arr[2]%><br/><%=arr[3]%></div>
			<div style="font-weight:bolder;position:fixed;top:765px;left:120px;font-size: 18px;"><%=arr[4]%></div>
			<div style="font-weight:bolder;position:fixed;top:810px;left:120px;font-size: 18px;"><%=arr[5]%></div>
			<div style="font-weight:bolder;position:fixed;top:855px;left:120px;font-size: 18px;"><%=arr[7]%></div>
			<div style="font-weight:bolder;position:fixed;top:900px;left:120px;font-size: 18px;"><%=arr[6]%></div>
		</div>
	</body>

</html>