<br/>
<%for (var i in entertainment) {%>
<div style="width:49%;display:inline-block;">
    <table width="100%" border="0">
        <tr style="line-height:5px">
            <td rowspan="3" style="width:230px;vertical-align:top " >
            	<img src="<%=entertainment[i].imgUrl%>" width="220px" height="124px"/>
            </td>
            <td style="height:20px;">
             <%
                var n = entertainment[i].name;
                if(n){
                    if(n.length>20){
                        n = n.substring(0,20)+"...";
                    }
                }
            
            %>
                <span class="myh1blue" style="cursor:pointer" title="<%=entertainment[i].name%>"><%=n%></span>
            </td>
        </tr>
        <%
            var s = entertainment[i].description;
            if(s){
                if(s.length>60){
                    s = s.substring(0,60)+"...";
                }
            }
            
        %>
        <tr style="line-height:15px">
            <td style="vertical-align: top;" ><span class="myh1x" style="cursor:pointer" title="<%=entertainment[i].description%>"><%=s%></span></td>
        </tr>
    </table>
    <br/>
</div>
<%}%>