<br/>
<table width="100%" border="0" style="background-color: #FFFFFF">
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr style="line-height:20px;">
                <td style="width:120px;text-align: left;"><div class="myh1" style="margin-left: 35px;">船籍</div><br/><span style="margin-left: 35px;" class="myh1ju"><%=cship.txtShipNationality%></span></td>
                <td style="width:120px;text-align: left;background-image: url('images/line_0.png')"><div class="myh1" style="margin-left: 25px;">首航日期</div><br/><span style="margin-left: 25px;"  class="myh1ju"><%=cship.txtMaidenVoyage?cship.txtMaidenVoyage:"-"%></span></td>
                <td style="width:120px;text-align: left;background-image: url('images/line_0.png')"><div class="myh1" style="margin-left: 25px;">翻新日期</div><br/><span style="margin-left: 25px;"  class="myh1ju"><%=cship.txtShipRenovate?cship.txtShipRenovate:"-"%></span></td>
                <td style="width:150px;text-align: left;background-image: url('images/line_0.png')"><div class="myh1" style="margin-left: 25px;">载客量/甲板层数</div><br/><span style="margin-left: 25px;"  class="myh1ju"><%=cship.txtPassengerTotal%>/<%=cship.txtDeckFloorTotal%></span></td>
                <td style="text-align: left;background-image: url('images/line_0.png')"><div class="myh1" style="margin-left: 25px;">吨位</div><br/><span style="margin-left: 25px;"  class="myh1ju"><%=cship.txtShipWeight%></span></td>
                <td style="text-align: left;background-image: url('images/line_0.png')"><div class="myh1" style="margin-left: 25px;">房间数</div><br/><span style="margin-left: 25px;"  class="myh1ju"><%=cship.txtRoomTotal%></span></td>
                <td style="text-align: left;background-image: url('images/line_0.png')"><div class="myh1" style="margin-left: 25px;">长度/宽度</div><br/><span style="margin-left: 25px;"  class="myh1ju"><%=cship.txtShipLength%>/<%=cship.txtShipWidth%></span></td>
            </tr>
        </table>
        <table width="100%" border="0" style="background-color: #FFFFFF">
            <tr><td>&nbsp;</td></tr>
            <tr style="line-height:20px;">
                <td style="text-align: center"><p class="myp1" style="width:94%;padding-left: 25px;padding-right: 25px;text-indent: 2em;text-align: justify"><%=cship.txtShipAbstract%></p></td>
            </tr>
            <tr><td>&nbsp;</td></tr>

        </table>